
models/
logs/
logs/*
chess_game/__pycache__/
chess_game/__pycache__/*
tensorboard --logdir=logs
**/__pycache__/
chess_game/envs
chess_game/envs/*
chess_game/envs/__pycache__/
chess_game/envs/__pycache__/*
chess_game/envs/** */
logs/** */
**/logs/** */